body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(41, 39, 39); 
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px white;
    width: 400px;
    max-width: 100%;
}

h2 {
    color: #000000; 
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #000000; 
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #4e4e4e; 
    border-radius: 4px;
}

button {
    background-color: #28a745; 
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: rgb(33, 129, 136); 
}
